body,html{
    margin: 0px;
    
}
.nav-bar{
    background-color: #90caf9;
    padding: 15px;
}
#sidebarHidden{
    margin-left: -350px;
    transition: 0.5s;
}
#sidebarShown{
    margin-left: 0px;
    transition: 0.3s;
}.sidebar{
    background-color: #90caf9;
    width: 350px;
    position: fixed;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li{
    width: 350px;
}
.sidebar ul li a{
    padding: 15px;
    display: block;
    padding: 5px 0px 5px 0px;
    color: #333333;
    text-decoration: none;
}
.nav-bar ul li a{
    padding: 15px;
    color: #333333;
    text-decoration: none;
   
}
nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.25);
}